<div class="well">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Leave ID</th>
				<th>Staff Name</th>
				<th>Status</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Leave Type</th>
			</tr>
		</thead>
	</table>
</div>


{{outlet}}
