.container.LoginBox {
	margin-top:70px;
	background-color: whitesmoke;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 35px;
    max-width: 520px;
    border: solid;
    border: 1px solid #cccccc;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
}

.alert.login {
	width: 300px;
    margin-left: 80px;
}

.topBox {
    margin-top:70px;
}

i.icon-off.icon-white{
    cursor: pointer;
}

.logout{
    background: transparent;
    border: none !important;
}

span   {
    background-color: #006dcc!important;
    color: white;
    font-family: sans-serif;
    margin-left: 20px!important;
    border-radius: 4px 0 0 4px!important;
}

td.calendar{
    width: 50px;
    height: 100px;
    font-size:30px;
}

td.rest{
    background-color:pink;
}

td.notCurrent{
    color: grey;
}

.calendarMonths{
    float: right;
    font-size: 35px;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
}

.calendarYear{
    float: right;
    font-size: 35px;
    margin-bottom: 20px;
}

.calendarbtn{
    float: left;
    margin-bottom: 10px;
}

.detail:hover{
    cursor: pointer;
    background-color: skyblue;
    
}