@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf');
}

body {
  font-family: "Lato";
}

.leave {
  background-image: url('../img/bk-2.jpg');
  background-attachment: fixed;
}

.travel {
  background-image: url('../img/bk.jpg');
  background-attachment: fixed;
}

.container.loginBox {
  	margin-top:70px;
    max-width: 520px;

}


.topBox {
    margin-top:20px;
}

i.icon-off.icon-white{
    cursor: pointer;
}

.logout{
    background: transparent;
    border: none !important;
}

span.caret   {
  color: black;
}


td.rest{
    background-color:pink;
}

td.notCurrent{
    color: grey;
}


.detail:hover{
    cursor: pointer;
    /*background-color: skyblue;*/
    
}


.form-signin {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#loginSystem {
  margin-bottom: 10px;
}

.bg-success,.bg-danger,.alert {
    padding: 15px;
    text-align: center;
}



.main {
  float: inherit;
  padding-left: 40px;
}

.navbar-font-color {
  color: white!important;
}

.btn,.panel-heading,.well,a,.alert {
  background-image: none!important;
}

.btn-group {
  padding-bottom: 15px;
}

.footer {
  background-color: #d9d9d9;
}

.content-box {
  padding-top: 55px;
}

.mandatory {
  color: red;
}

.detail-label {
  background-color: #337ab7;
  color: white;
   border-color:#337ab7;
}

.buffer {
  margin-top:20px;
  margin-bottom: 20px;
}

.right {
  float: right;
}

.table {
  table-layout: fixed;
}
td.clkCell:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

td.header {
  font-weight: bold;
}

.side-nav {
  position: fixed;
  margin-right: 50px;
  padding-right: 0;
  padding-left: 0;
  padding-top:0;
  padding-bottom: 0;
  border-radius: 0;
  border:0; 
  color:black;
}

.content {
  float: right;
}

.well {
  opacity: 0.93;
}

.nav-link {
  color: black;
  border-radius: 0!important;
  padding-left: 5px!important;
}

.nav-link:hover {
  color:black;
  background-color: #d9d9d9!important;
  cursor: pointer;
}
.nav-link-inner {
  padding-left: 50px!important;
}
.hidden {
  display: none;
}

tr.selected {
  background-color: #b3ffff!important;
}

.page-header {
  margin-top: 10px;
  padding-bottom: 0;
}

h1 {
  margin: 0;
  padding:0;
}


.deatil-label {
  font-weight: bold;
  text-align: right;
  padding-right: 0;
}

.detail-data {
  text-align: left;
  padding-left: 0;
}

.detail-label-item {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.detail-label-group {
  padding-left: 0;
}

.create-data-input {
  padding-top: 6px;
  padding-bottom: 7px;
}

.create-label-group {
  padding-left: 0;
}
.create-label {
  font-weight: bold;
  text-align: right;
  padding-right: 0;
}

.create-data {
  text-align: left;
  padding-left: 0;
}
.create-label-item {
  position: relative;
  display: block;
  padding-top: 12px;
  padding-bottom:  15px;
  padding-left: 15px;
  padding-right: 15px;
}

.create-data-group {
  padding-left: 0;
}


.divider {
  margin-top: 15px;
  margin-bottom: 15px;
}

.alert {
  margin-bottom: 0;
}

.input-group-addon {
  width:0;
}

.min-text {
  min-width: 220px;
}

.nav-table {
  width:100%;
}

td.nav-icon {
  padding-left: 15px;
  padding-right: 4px;
  padding-top:13px;
  padding-bottom: 12px;
  color:white;
}

td.nav-sub-icon {
  padding-left: 15px;
  padding-top:13px;
  padding-bottom: 12px;
  color:black;
}

td.nav-sub-lable {
  padding-left: 35px;
  padding-right: 10px;
  color:black;
}

td.nav-lable {
  padding-left: 5px;
  padding-right: 10px;
}

td.nav-lable:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

td.nav-sub-lable:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

.bk-red {
  background-color: #e60000;
}

.bk-orange {
  background-color: #ff8000;
}

.bk-yellow {
  background-color: #e6e600;
}

.bk-green {
  background-color: #39e600;
}

.bk-cran {
  background-color: #00ace6;
}

.bk-blue {
  background-color: #0000e6;
}

.bk-purple {
  background-color: #7300e6;
}

.load-modal {
  width:200px;
  position: fixed;
  left:42%;
  top:30%;
  border-radius: 0;
  display: none;

}

.toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}