
    <div class="container loginBox ">
    <div>
      <form class="form-signin">
        {{input type="text" id="inputEmail" class="form-control" placeholder="User Name" value=username  }}
        {{input type="password" id="inputPassword" class="form-control" placeholder="Password" value=password }}

        <select class="form-control" id="loginSystem" onchange={{action "switchSystem"}}>
            <option value="leave">Leave</option>
            <option value="travel">Travel</option>
        </select>


        <button {{action "validate"}} class="btn btn-lg btn-primary btn-block" type="button" >Log in</button>
      </form>
    </div>
    </div>