<div class="sub-header">
	<h2>Status Flow
        <span class="glyphicon glyphicon-plus toggle-icon" aria-hidden="true" id="toggle-icon" onclick={{action "toggle"}}></span>
	</h2>
</div>

<div class="row">
{{#if isShow}}
<div class="col-md-10 col-md-offset-2">

{{#if isCreate}}
	<img src="./img/flow-2.jpg">

{{else}}

	<img src="./img/flow.jpg">
{{/if}}
</div>
{{/if}}
</div>

{{yield}}
