<!-- Modal -->
<div id="confirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="label label-info">INFO</span>Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Do you confirm {{confirmMsg}} this request ?</p>
        <label class="control-label" >comments</label>
		{{textarea class="form-control" rows="3" value=comments}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" {{action 'confirmRequest' model.leaveId }}>Confirm</button>
      </div>
    </div>

  </div>
</div>
{{yield}}
