
{{#nav-footer }}
	
<div class="page-header">
<h1><span class="label label-primary">Sys Info</span></h1>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
        <h3 class="panel-title">System Notification</h3>
    </div>
    <div class="panel-body">
      	<p>System Info 1</p>
      	<p>System Info 2</p>
      	<p>System Info 3</p>
      	<p>System Info 4</p>
      	<p>System Info 5</p>
    </div>
</div>


{{/nav-footer}}

{{outlet}}
